/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/libs/style.scss ***!
  \**************************************************************************************************************/
:root {
  --primary-color: #fff;
  --secondary-color: #001848;
  --tertiary-color: #2b347f;
  --white: #fff;
  --black: #000;
  --primary-font: 'Roboto Condensed', 'sans-serif'; }

html {
  scroll-behavior: smooth; }

html, body {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 200; }

a {
  font-weight: 200;
  transition: all .4s; }
  a:hover, a:focus, a:active {
    font-weight: 900; }

.content {
  padding: 0 12px; }
  @media screen and (min-width: 768px) {
    .content {
      padding: 0 24px; } }

.navbar {
  background-color: var(--primary-color);
  border-bottom: none;
  box-shadow: 0 6px 24x rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12); }
  .navbar .navbar-title {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: 900; }
    @media screen and (max-width: 374px) {
      .navbar .navbar-title {
        font-size: 20px; } }
    @media screen and (min-width: 768px) {
      .navbar .navbar-title {
        font-size: 36px; } }

#links .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 12px; }
  @media screen and (min-width: 768px) {
    #links .links {
      grid-column-gap: 12px; } }
  @media screen and (min-width: 992px) {
    #links .links {
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 24px; } }
  @media screen and (min-width: 1200px) {
    #links .links {
      grid-template-columns: repeat(8, 1fr);
      grid-row-gap: 48px; } }

#links .item {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 12px 6px 18px;
  transition: all .4s; }
  #links .item:hover, #links .item:focus, #links .item:active {
    transform: scale(1.05);
    box-shadow: 0 6px 24x rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12); }

#links .item-image {
  border-radius: 12px;
  margin: 0 auto 6px;
  max-height: 60px; }
  @media screen and (max-width: 374px) {
    #links .item-image {
      max-height: 48px; } }
  @media screen and (min-width: 768px) {
    #links .item-image {
      max-height: 72px; } }

#links .item-name {
  color: var(--secondary-color);
  font-size: 14px;
  text-align: center; }
  @media screen and (min-width: 768px) {
    #links .item-name {
      font-size: 16px; } }

#footer-section {
  font-size: 14px;
  padding: 0 0 72px;
  text-align: center; }
  #footer-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 0 18% 12px; }
  #footer-section p {
    line-height: 1.2; }
  #footer-section a {
    color: var(--secondary-color);
    font-weight: 200; }

